* {
  box-sizing: border-box;

}
body {
  font-family: 'Muli', sans-serif;
}
header {
  padding-top: 10%;
}
.logo {
  text-align: center;
}

.logo img {
  width: 250px;
  height: auto;
}
.test-tracker {
  text-align: center;
  padding: 8vh;
  font-size: 3vh;
  text-transform: uppercase;
}
.test-tracker li{
  display: inline;
  padding: 0 10px;
}
.Questions-Answers {
  display: block;
  text-align: center;
  width: 100%;
  padding: 1% 10%;
}
.Question-Answer {
  font-size: 3vh;
  line-height: 4vh;
  text-transform: uppercase;
  margin-bottom: 2vh;
}
.Question {
  font-size: 3vh;
  line-height: 4vh;
  text-transform: uppercase;
  margin-bottom: 2vh;
}
label {
  width: 100%;
  padding: 2.5% 0 2.5% 1%;
  margin: 2.5% 0;
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-out;
  font-size: 3vh;
  border: 1px solid #111;
}
.correct {
  background-color: green;
}
.not-correct {
  opacity: .3;
}
.incorrect {
  background-color: red;
}
.answer-option input {
  flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
label span {
  padding: 0 2vw;
}
.submit-button {
  padding: 0 0 0 10vw;
  width: 100%;
  padding: 2.5% 0;
  background-color: orange;
  font-family: 'Muli', sans-serif;
  line-height: 3vh;
  text-transform: uppercase;
  font-size: 1em;
}
